@import "css/tip.css";
@import "css/board.css";
@import "css/game.css";

html, body {
    width: auto;
    height: 99%;
    background: #f0f2f5;
}

header, footer {
    height: 75px;
}

#game {
    display: grid;
    grid-template-areas:
        'logo config config config rules'
        'tips board board board chat'
        'bl prompt prompt prompt br';
}

#logo {
    grid-area: logo;
    font-weight: bold;
    font-size: 300%;
}

#config {
    grid-area: config;
    justify-self: center;
}

#config form {
    height: 100%;
}

#rules {
    grid-area: rules;
}

#tips {
    grid-area: tips;
    width: 400px;
    height: 90%;
    font-size: 120%;
}

#instructions {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 90%;
    overflow-y: scroll;
}

#game:not([data-state="setup"]) #setup { display: none; }
#game:not([data-state$="-play"]) #play { display: none; }
#game:not([data-state$="-play"]) #goal { display: none; }

#main {
    grid-area: board;
    width: min(87vh,87vw);
    height: min(87vh,87vw);
    max-height: 95%;
    justify-self: center;
}

#board {
    width: 100%;
}

#controls {
    height: 75px;
}

#config form button, #controls button {
    width: 20%;
    height: 80%;
    min-width: 150px;
    font-size: 150%;
}

#chat {
    grid-area: chat;
    border-radius: 5px;
    width: 400px;
    height: 90%;
    justify-self: right;
    font-size: 120%;
}

#messages {
    border: 1px solid lightgray;
    background-color: white;
    width: 100%;
    height: 90%;
}

#prompt {
    grid-area: prompt;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto 15%;
    justify-self: center;
}

#empty1 { grid-area: bl; }
#empty2 { grid-area: br; }

#message {
    height: 34px;
    font-size: 120%;
}

#send {
    width: 100%;
    height: 40px;
    font-size: 120%;
}

#game[data-action="done"] #end_turn { font-weight: bold; }

