#board .hexes { fill: none; stroke: brown; stroke-width: 1; }
#board .frame { fill: wheat; stroke-width: 10; }

#board .fields { stroke: brown; stroke-width: 1; }

#board .field { fill: seashell; }
#board .field .hex { opacity: 0; }
#board .field .arrow { visibility: hidden; }
#board .field .arrow[data-locked] { visibility: visible; fill: burlywood; }
#board .field circle { stroke: brown; }

#board .field[data-type="platform"] circle { fill: burlywood; }
#board .field[data-type="portal"]   circle { fill: burlywood; }

#board .field:not([data-type])      .portal { visibility: hidden; }
#board .field[data-type="platform"] .portal { visibility: hidden; }
#board .field[data-type="start"]    .portal { visibility: hidden; }
#board .field[data-type="portal"]   .portal { visibility: visible; fill: chocolate; }

#board .field[data-player="red"]    circle:not(.token) { fill: hsl(0, 100%, 75%);   }
#board .field[data-player="orange"] circle:not(.token) { fill: hsl(30, 100%, 75%);  }
#board .field[data-player="yellow"] circle:not(.token) { fill: hsl(60, 100%, 75%);  }
#board .field[data-player="green"]  circle:not(.token) { fill: hsl(120, 100%, 75%); }
#board .field[data-player="blue"]   circle:not(.token) { fill: hsl(240, 100%, 75%); }
#board .field[data-player="violet"] circle:not(.token) { fill: hsl(300, 100%, 75%); }

#board .field .center { fill: chocolate; pointer-events: none; }

#board .field .token[data-player="red"]    { fill: hsl(0, 100%, 50%);   }
#board .field .token[data-player="orange"] { fill: hsl(30, 100%, 50%);  }
#board .field .token[data-player="yellow"] { fill: hsl(60, 100%, 50%);  }
#board .field .token[data-player="green"]  { fill: hsl(120, 100%, 50%); }
#board .field .token[data-player="blue"]   { fill: hsl(240, 100%, 50%); }
#board .field .token[data-player="violet"] { fill: hsl(300, 100%, 50%); }
#board .field .token[data-player="black"]  { fill: hsl(0, 0%, 0%);      }

