#game[data-locked] {
    cursor: wait;
}

#game[data-player]:not([data-player="red"   ]) #board[data-player="red"   ],
#game[data-player]:not([data-player="orange"]) #board[data-player="orange"],
#game[data-player]:not([data-player="yellow"]) #board[data-player="yellow"],
#game[data-player]:not([data-player="green" ]) #board[data-player="green" ],
#game[data-player]:not([data-player="blue"  ]) #board[data-player="blue"  ],
#game[data-player]:not([data-player="violet"]) #board[data-player="violet"] {
    pointer-events: none;
}

#game[data-state$="-play"] #board[data-player="red"]    .frame { stroke: hsl(0, 100%, 50%); }
#game[data-state$="-play"] #board[data-player="orange"] .frame { stroke: hsl(30, 100%, 50%); }
#game[data-state$="-play"] #board[data-player="yellow"] .frame { stroke: hsl(60, 100%, 50%); }
#game[data-state$="-play"] #board[data-player="green"]  .frame { stroke: hsl(120, 100%, 50%); }
#game[data-state$="-play"] #board[data-player="blue"]   .frame { stroke: hsl(240, 100%, 50%); }
#game[data-state$="-play"] #board[data-player="violet"] .frame { stroke: hsl(300, 100%, 50%); }

#game[data-state="setup"] .field:hover .arrow {
    visibility: hidden;
}

#game[data-state$="-play"][data-action="build"] .field:hover   .arrow:not([data-disabled]),
#game[data-state$="-play"][data-action="connect"] .field:hover .arrow:not([data-disabled]),
#game[data-state$="-play"]:not([data-action]) .field:hover     .arrow:not([data-disabled]) {
    visibility: visible;
}

#game[data-state="setup"]                            #board .field:not([id="0:0:0"]) circle:hover,
#game[data-state="free-play"]:not([data-action])     #board .field .arrow:hover,
#game[data-state="free-play"]:not([data-action])     #board .field[data-active] circle:not(.token),
#game[data-state="free-play"]:not([data-action])     #board .field[data-player] circle:hover,
#game[data-state="free-play"]:not([data-action])     #board .field[id="0:0:0"] circle:hover,
#game[data-state="free-play"][data-action="build"]   #board .field .arrow:hover,
#game[data-state="free-play"][data-action="connect"] #board .field .arrow:hover,
#game[data-state="free-play"][data-action="move"]    #board .field[data-active] circle:not(.token),
#game[data-state="free-play"][data-action="start"]   #board .field[data-player] circle:hover,
#game[data-state="free-play"][data-action="finish"]  #board .field[id="0:0:0"] circle:hover,
#game[data-state="dice-play"][data-action="build"]   #board .field .arrow:hover,
#game[data-state="dice-play"][data-action="connect"] #board .field .arrow:hover,
#game[data-state="dice-play"][data-action="move"]    #board .field[data-active] circle:not(.token),
#game[data-state="dice-play"][data-action="start"]   #board .field[data-player] circle:hover,
#game[data-state="dice-play"][data-action="finish"]  #board .field[id="0:0:0"] circle:hover {
    stroke-width: 3;
    cursor: pointer;
}

