#game[data-state="setup"] #tip::after {
    content: 'Click on an empty field to put a start platform on it. Click again to change its color. Repeat that for each player.';
}

#game[data-state="setup"][data-action="start"] #tip::after {
    content: 'Once all players have their start platforms in place, hit "Start!" to play.';
}

#game[data-state="free-play"]:not([data-action]) #tip::after {
    content: 'Click on an arrow to build a road. Click on a start platform to introduce a pawn. Click on a portal to move pawns.'
}

#game[data-state="free-play"][data-action="connect"] #tip::after {
    content: 'Click on an arrow to add another connection.'
}

#game[data-state="dice-play"][data-action="start"] #tip::after {
    content: 'Click on a start platform to introduce a pawn.'
}

#game[data-state="dice-play"][data-action="build"] #tip::after {
    content: 'Click on an arrow to build a road. Click on a start platform to introduce a pawn. Click on a portal to move pawns.'
}

#game[data-state="dice-play"][data-action="connect"] #tip::after {
    content: 'Click on an arrow to add another connection.'
}

#game[data-state="dice-play"][data-action="move"] #tip::after {
    content: 'Click on an active portal to launch it.'
}

#game[data-state="dice-play"][data-action="finish"] #tip::after {
    content: 'Click on the pawn on the center platform to remove it from the board.'
}

#game[data-action="done"] #tip::after {
    content: 'You have no more moves in this turn. Click "End Turn!" to finish.';
}

#game[data-state="game-over"] #tip::after {
    content: 'Game over!';
}
